In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("customer_churn_large_dataset.xlsx")

In [3]:
df.head()

,CustomerID,Name,Age,Gender,Location,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,1,Customer_1,63,Male,Los Angeles,17,73.36,236,0
1,2,Customer_2,62,Female,New York,1,48.76,172,0
2,3,Customer_3,24,Female,Los Angeles,5,85.47,460,0
3,4,Customer_4,36,Female,Miami,3,97.94,297,1
4,5,Customer_5,46,Female,Miami,19,58.14,266,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CustomerID                  100000 non-null  int64
 1   Name                        100000 non-null  object
 2   Age                         100000 non-null  int64
 3   Gender                      100000 non-null  object
 4   Location                    100000 non-null  object
 5   Subscription_Length_Months  100000 non-null  int64
 6   Monthly_Bill                100000 non-null  float64
 7   Total_Usage_GB              100000 non-null  int64
 8   Churn                       100000 non-null  int64
dtypes: float64(1), int64(5), object(3)
memory usage: 6.9+ MB

In [5]:
df.duplicated().sum()

0

In [6]:
df['Churn'].value_counts()

0    50221
1    49779
Name: Churn, dtype: int64

In [7]:
df['Location'].value_counts()

Houston        20157
Los Angeles    20041
Miami          20031
Chicago        19958
New York       19813
Name: Location, dtype: int64

In [8]:
df.drop(columns=["CustomerID","Name"],inplace=True)

In [9]:
df.head()

,Age,Gender,Location,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,63,Male,Los Angeles,17,73.36,236,0
1,62,Female,New York,1,48.76,172,0
2,24,Female,Los Angeles,5,85.47,460,0
3,36,Female,Miami,3,97.94,297,1
4,46,Female,Miami,19,58.14,266,0

In [10]:
df['Age'].value_counts()

33    2046
50    1996
38    1970
63    1942
57    1942
19    1941
41    1939
42    1930
51    1929
59    1928
27    1924
66    1922
70    1921
44    1916
69    1912
61    1909
60    1904
31    1901
55    1900
21    1897
54    1896
53    1895
48    1895
39    1891
23    1887
20    1886
29    1885
28    1881
24    1876
58    1876
40    1875
30    1875
26    1874
56    1872
25    1871
37    1870
62    1867
46    1865
68    1863
43    1863
36    1859
49    1854
64    1848
47    1847
35    1845
18    1839
65    1833
45    1827
52    1824
32    1810
67    1798
34    1797
22    1787
Name: Age, dtype: int64

In [11]:
df=pd.get_dummies(df,columns=["Gender","Location"],drop_first=True)

In [12]:
df

,Age,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn,Gender_Male,Location_Houston,Location_Los Angeles,Location_Miami,Location_New York
0,63,17,73.36,236,0,1,0,1,0,0
1,62,1,48.76,172,0,0,0,0,0,1
2,24,5,85.47,460,0,0,0,1,0,0
3,36,3,97.94,297,1,0,0,0,1,0
4,46,19,58.14,266,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
99995,33,23,55.13,226,1,1,1,0,0,0
99996,62,19,61.65,351,0,0,0,0,0,1
99997,64,17,96.11,251,1,1,0,0,0,0
99998,51,20,49.25,434,1,0,0,0,0,1
99999,27,19,76.57,173,1,0,0,1,0,0

In [13]:
df.shape

(100000, 10)

In [14]:
X=df.drop(columns=["Churn"])
Y=df['Churn']
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=1)

In [15]:
X_train.shape

(80000, 9)

In [16]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [17]:
import tensorflow

In [18]:
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [19]:
model=Sequential()
model.add(Dense(3,activation="sigmoid",input_dim=9))
model.add(Dense(1,activation="sigmoid"))

In [20]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 30

 dense_1 (Dense)             (None, 1)                 4

=================================================================
Total params: 34 (136.00 Byte)
Trainable params: 34 (136.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
model.compile(loss="binary_crossentropy",optimizer="Adam",metrics=['accuracy'])

In [22]:
model.fit(X_train,Y_train,epochs=100,validation_split=0.2)

Epoch 1/100
2000/2000 [==============================] - 5s 2ms/step - loss: 0.7005 - accuracy: 0.4988 - val_loss: 0.6952 - val_accuracy: 0.5014
Epoch 2/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6948 - accuracy: 0.4993 - val_loss: 0.6939 - val_accuracy: 0.4933
Epoch 3/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6939 - accuracy: 0.4977 - val_loss: 0.6934 - val_accuracy: 0.5066
Epoch 4/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6936 - accuracy: 0.4958 - val_loss: 0.6939 - val_accuracy: 0.5046
Epoch 5/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6934 - accuracy: 0.5002 - val_loss: 0.6936 - val_accuracy: 0.5035
Epoch 6/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6933 - accuracy: 0.5001 - val_loss: 0.6939 - val_accuracy: 0.5067
Epoch 7/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6934 - accuracy: 0.4987 - val_loss: 0.6931 - val_accuracy: 0.5073
Epoch 8/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6934 - accuracy: 0.5013 - val_loss: 0.6931 - val_accuracy: 0.5029
Epoch 9/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6935 - accuracy: 0.4991 - val_loss: 0.6940 - val_accuracy: 0.4959
Epoch 10/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6933 - accuracy: 0.4978 - val_loss: 0.6938 - val_accuracy: 0.4969
Epoch 11/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6934 - accuracy: 0.4994 - val_loss: 0.6932 - val_accuracy: 0.5078
Epoch 12/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6934 - accuracy: 0.4967 - val_loss: 0.6933 - val_accuracy: 0.5034
Epoch 13/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6933 - accuracy: 0.4974 - val_loss: 0.6931 - val_accuracy: 0.5078
Epoch 14/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5002 - val_loss: 0.6932 - val_accuracy: 0.5073
Epoch 15/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5060 - val_loss: 0.6938 - val_accuracy: 0.4934
Epoch 16/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6934 - accuracy: 0.4995 - val_loss: 0.6934 - val_accuracy: 0.5063
Epoch 17/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6934 - accuracy: 0.5007 - val_loss: 0.6932 - val_accuracy: 0.5045
Epoch 18/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6934 - accuracy: 0.4983 - val_loss: 0.6934 - val_accuracy: 0.5056
Epoch 19/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6933 - accuracy: 0.5008 - val_loss: 0.6931 - val_accuracy: 0.5067
Epoch 20/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6933 - accuracy: 0.4986 - val_loss: 0.6932 - val_accuracy: 0.4948
Epoch 21/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6933 - accuracy: 0.4992 - val_loss: 0.6931 - val_accuracy: 0.5064
Epoch 22/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6933 - accuracy: 0.4995 - val_loss: 0.6933 - val_accuracy: 0.4934
Epoch 23/100
2000/2000 [==============================] - 5s 3ms/step - loss: 0.6933 - accuracy: 0.4992 - val_loss: 0.6932 - val_accuracy: 0.4966
Epoch 24/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6933 - accuracy: 0.5006 - val_loss: 0.6932 - val_accuracy: 0.5066
Epoch 25/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5019 - val_loss: 0.6933 - val_accuracy: 0.5061
Epoch 26/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6933 - accuracy: 0.5005 - val_loss: 0.6934 - val_accuracy: 0.5067
Epoch 27/100
2000/2000 [==============================] - 5s 2ms/step - loss: 0.6933 - accuracy: 0.5008 - val_loss: 0.6932 - val_accuracy: 0.5056
Epoch 28/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5008 - val_loss: 0.6933 - val_accuracy: 0.5046
Epoch 29/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6932 - accuracy: 0.5015 - val_loss: 0.6932 - val_accuracy: 0.5058
Epoch 30/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5027 - val_loss: 0.6933 - val_accuracy: 0.5056
Epoch 31/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5003 - val_loss: 0.6931 - val_accuracy: 0.5064
Epoch 32/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5027 - val_loss: 0.6931 - val_accuracy: 0.5066
Epoch 33/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6932 - accuracy: 0.5003 - val_loss: 0.6932 - val_accuracy: 0.5071
Epoch 34/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6932 - accuracy: 0.5014 - val_loss: 0.6932 - val_accuracy: 0.5064
Epoch 35/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6932 - accuracy: 0.5007 - val_loss: 0.6932 - val_accuracy: 0.5063
Epoch 36/100
2000/2000 [==============================] - 5s 2ms/step - loss: 0.6931 - accuracy: 0.4982 - val_loss: 0.6932 - val_accuracy: 0.5056
Epoch 37/100
2000/2000 [==============================] - 5s 3ms/step - loss: 0.6932 - accuracy: 0.5021 - val_loss: 0.6931 - val_accuracy: 0.5064
Epoch 38/100
2000/2000 [==============================] - 5s 3ms/step - loss: 0.6932 - accuracy: 0.5018 - val_loss: 0.6931 - val_accuracy: 0.5062
Epoch 39/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5015 - val_loss: 0.6932 - val_accuracy: 0.5065
Epoch 40/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5004 - val_loss: 0.6931 - val_accuracy: 0.5066
Epoch 41/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5019 - val_loss: 0.6931 - val_accuracy: 0.5071
Epoch 42/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6932 - accuracy: 0.4995 - val_loss: 0.6931 - val_accuracy: 0.5070
Epoch 43/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5019 - val_loss: 0.6931 - val_accuracy: 0.5056
Epoch 44/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.5011 - val_loss: 0.6931 - val_accuracy: 0.5063
Epoch 45/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6932 - accuracy: 0.5012 - val_loss: 0.6932 - val_accuracy: 0.5047
Epoch 46/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6932 - accuracy: 0.5009 - val_loss: 0.6931 - val_accuracy: 0.5059
Epoch 47/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5026 - val_loss: 0.6931 - val_accuracy: 0.5068
Epoch 48/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6932 - accuracy: 0.5009 - val_loss: 0.6932 - val_accuracy: 0.5055
Epoch 49/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5017 - val_loss: 0.6931 - val_accuracy: 0.5065
Epoch 50/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6932 - accuracy: 0.5017 - val_loss: 0.6931 - val_accuracy: 0.5058
Epoch 51/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5052 - val_loss: 0.6934 - val_accuracy: 0.4929
Epoch 52/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5030 - val_loss: 0.6931 - val_accuracy: 0.5068
Epoch 53/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.4997 - val_loss: 0.6931 - val_accuracy: 0.5077
Epoch 54/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5023 - val_loss: 0.6931 - val_accuracy: 0.5061
Epoch 55/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5016 - val_loss: 0.6931 - val_accuracy: 0.5063
Epoch 56/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.4976 - val_loss: 0.6931 - val_accuracy: 0.5068
Epoch 57/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6932 - accuracy: 0.4997 - val_loss: 0.6931 - val_accuracy: 0.5067
Epoch 58/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5037 - val_loss: 0.6932 - val_accuracy: 0.5066
Epoch 59/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5010 - val_loss: 0.6931 - val_accuracy: 0.5069
Epoch 60/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5015 - val_loss: 0.6931 - val_accuracy: 0.5054
Epoch 61/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5030 - val_loss: 0.6933 - val_accuracy: 0.4929
Epoch 62/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5035 - val_loss: 0.6933 - val_accuracy: 0.5058
Epoch 63/100
2000/2000 [==============================] - 5s 3ms/step - loss: 0.6931 - accuracy: 0.5004 - val_loss: 0.6932 - val_accuracy: 0.5063
Epoch 64/100
2000/2000 [==============================] - 5s 2ms/step - loss: 0.6931 - accuracy: 0.5036 - val_loss: 0.6934 - val_accuracy: 0.4933
Epoch 65/100
2000/2000 [==============================] - 5s 3ms/step - loss: 0.6931 - accuracy: 0.5001 - val_loss: 0.6933 - val_accuracy: 0.5067
Epoch 66/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6932 - accuracy: 0.5025 - val_loss: 0.6931 - val_accuracy: 0.5070
Epoch 67/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5003 - val_loss: 0.6932 - val_accuracy: 0.5074
Epoch 68/100
2000/2000 [==============================] - 6s 3ms/step - loss: 0.6931 - accuracy: 0.5006 - val_loss: 0.6932 - val_accuracy: 0.5073
Epoch 69/100
2000/2000 [==============================] - 7s 3ms/step - loss: 0.6931 - accuracy: 0.5018 - val_loss: 0.6933 - val_accuracy: 0.5055
Epoch 70/100
2000/2000 [==============================] - 5s 2ms/step - loss: 0.6931 - accuracy: 0.5006 - val_loss: 0.6933 - val_accuracy: 0.5065
Epoch 71/100
2000/2000 [==============================] - 5s 2ms/step - loss: 0.6931 - accuracy: 0.5022 - val_loss: 0.6934 - val_accuracy: 0.4927
Epoch 72/100
2000/2000 [==============================] - 5s 3ms/step - loss: 0.6931 - accuracy: 0.5005 - val_loss: 0.6933 - val_accuracy: 0.5055
Epoch 73/100
2000/2000 [==============================] - 5s 3ms/step - loss: 0.6931 - accuracy: 0.5026 - val_loss: 0.6931 - val_accuracy: 0.5056
Epoch 74/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5010 - val_loss: 0.6932 - val_accuracy: 0.5075
Epoch 75/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5000 - val_loss: 0.6932 - val_accuracy: 0.5069
Epoch 76/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5036 - val_loss: 0.6933 - val_accuracy: 0.5059
Epoch 77/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5021 - val_loss: 0.6933 - val_accuracy: 0.5060
Epoch 78/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.4981 - val_loss: 0.6933 - val_accuracy: 0.5061
Epoch 79/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.4986 - val_loss: 0.6932 - val_accuracy: 0.5058
Epoch 80/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5027 - val_loss: 0.6932 - val_accuracy: 0.4936
Epoch 81/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.4999 - val_loss: 0.6932 - val_accuracy: 0.5064
Epoch 82/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5029 - val_loss: 0.6931 - val_accuracy: 0.5078
Epoch 83/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5040 - val_loss: 0.6934 - val_accuracy: 0.4935
Epoch 84/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5026 - val_loss: 0.6933 - val_accuracy: 0.5057
Epoch 85/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5009 - val_loss: 0.6933 - val_accuracy: 0.5060
Epoch 86/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5000 - val_loss: 0.6933 - val_accuracy: 0.4938
Epoch 87/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6930 - accuracy: 0.5019 - val_loss: 0.6935 - val_accuracy: 0.4933
Epoch 88/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.4985 - val_loss: 0.6934 - val_accuracy: 0.4931
Epoch 89/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.4993 - val_loss: 0.6934 - val_accuracy: 0.4933
Epoch 90/100
2000/2000 [==============================] - 3s 1ms/step - loss: 0.6931 - accuracy: 0.5010 - val_loss: 0.6933 - val_accuracy: 0.5057
Epoch 91/100
2000/2000 [==============================] - 3s 1ms/step - loss: 0.6930 - accuracy: 0.5031 - val_loss: 0.6933 - val_accuracy: 0.4936
Epoch 92/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6930 - accuracy: 0.5003 - val_loss: 0.6934 - val_accuracy: 0.4933
Epoch 93/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6930 - accuracy: 0.5022 - val_loss: 0.6933 - val_accuracy: 0.5064
Epoch 94/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5014 - val_loss: 0.6933 - val_accuracy: 0.5070
Epoch 95/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6930 - accuracy: 0.5019 - val_loss: 0.6933 - val_accuracy: 0.5057
Epoch 96/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6930 - accuracy: 0.5011 - val_loss: 0.6934 - val_accuracy: 0.5064
Epoch 97/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6930 - accuracy: 0.5033 - val_loss: 0.6934 - val_accuracy: 0.4937
Epoch 98/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6931 - accuracy: 0.5005 - val_loss: 0.6935 - val_accuracy: 0.5057
Epoch 99/100
2000/2000 [==============================] - 3s 2ms/step - loss: 0.6931 - accuracy: 0.5002 - val_loss: 0.6933 - val_accuracy: 0.5068
Epoch 100/100
2000/2000 [==============================] - 4s 2ms/step - loss: 0.6930 - accuracy: 0.5007 - val_loss: 0.6932 - val_accuracy: 0.5073

In [23]:
y_log=model.predict(X_test)

625/625 [==============================] - 1s 1ms/step

In [24]:
model.layers[0].get_weights()

[array([[ 0.35061872,  0.76228213, -0.89962703],
        [ 0.60925955,  0.31388825, -0.41927665],
        [ 0.2509458 ,  0.00734715,  0.3505817 ],
        [-0.5747812 , -0.442415  , -0.2687662 ],
        [ 2.626967  , -2.7763064 , -1.7314724 ],
        [-0.3087582 , -0.9480374 ,  0.14796221],
        [-1.5286767 ,  1.4189954 ,  0.15117453],
        [ 1.7564085 , -0.38503355, -2.1436796 ],
        [-0.05529061, -1.1834878 , -1.4457937 ]], dtype=float32),
 array([ 0.04281929, -0.36947477, -0.30950457], dtype=float32)]

In [25]:
import numpy as np

In [26]:
y_pred=np.where(y_log>0.5,1,0)

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
accuracy_score(Y_test,y_pred)

0.50085

In [ ]:
#Hence this model is 50% accurate